KAFKA_HOST=pkc-xyzzy
KAFKA_TOPIC=topic_in_kafka
KAFKA_APIKEY="Kafka_API_Key"
KAFKA_SECRET="Kafka_APIKEY_Secret"

AZURE_ACCOUNT=name_of_storageaccount
AZURE_ACCESSKEY=one_of_the_2_access_keys
AZURE_CONTAINER=name_of_blob_container
